body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #111;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #111;
}

.hamburger {
  width: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
}

.bar {
  height: 2px;
  background: #111;
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.right-icons .icon {
  margin-left: 15px;
  font-size: 1.2rem;
  color: #111;
}

.desktop-nav {
  display: none;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.desktop-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  position: relative;
}

.desktop-nav a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #D4AF37;
}

.right-nav {
  margin-left: auto;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background: #1a1a1a;
  padding: 15px 20px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.mobile-nav.open {
  display: flex;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.separator {
  height: 1px;
  background: #fff;
  opacity: 0.2;
  margin: 5px 0;
}

/* Responsive */
@media (min-width: 768px) {
  .hamburger, .mobile-nav, .right-icons {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
}
